@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Exo:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&display=swap');

#empanadas {
    height: auto;
    width: 500px;
}

#meatloaf {
    height: auto;
    width: 500px;
}

#ravioli {
    height: auto;
    width: 500px;
}

#lets-do-this {
    height: auto;
    width: 400px;
}

#na-ah {
    height: auto;
    width: 465px;
}

#oh-yeah {
    height: auto;
    width: 533px;
}

#couple-cooking {
    height: auto;
    width: 533px;
}

body {
    background-color: rgb(253, 253, 189);
}

p,
.un-list {
    font-weight: 300;
    font-family: sans-serif;
    font-size: 17px;
}

p {
    width: 1150px;
    text-align: justify;
}

#keep-margin {
    width: 1190px;
    text-align: justify;
}

h3 {
    font-family: Exo;
}

.main-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
}

.food-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}

.mid-heading {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
}

#center {
    text-align: center;
}

#home-button {
    background-color: rgb(245, 184, 15);
    color: black;
}