@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Exo:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&family=Concert+One&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.web-background {
    background-color: rgb(253, 253, 189);
    margin: 0;
}

.sidebar {
    border: 3px solid gray;
    background-color: rgba(202, 228, 240, 0.247);
    display: flex;
    flex: auto;
    min-height: 100%;
    max-width: fit-content;
    padding: 0 30px 0 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

#sidebar-message {
    font-weight: 300;
    font-size: 30px;
    font-family: 'Concert One', sans-serif;
    padding-top: 80px;
    margin-bottom: 23px;
}

.sidebar-link,
.home-link {
    margin: 0;
    background-color: rgb(195, 246, 255);
    color: black;
    border: 2px solid black;
    padding: 2px;
    width: fit-content;
    border-radius: 5px;
}

.home-link {
    background-color: orange;
}

.sidebar-link a,
.home-link a,
ul a,
h3 a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 16px;
}

h3 a {
    font-size: 18.72px;
    color: rgb(156, 103, 103);
}

.home-link a {
    font-weight: 900;
}

ul a {
    font-size: 18px;
}

.sidebar-link a:hover,
.home-link a:hover,  
ul a:hover,
h3 a:hover {
    color: red;
}

#about-link {
    font-size: 15px;
}

.franngo {
    color: rgb(209, 2, 2);
    font-size: 18px;
    margin-top: 10px;
}

.content {
    height: 100%;
    max-width: 48%;
    display: flex;
    flex-direction: column;
}

.no-margin-top {
    margin-top: 0;
}

.main-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    margin-bottom: 15px;
}

.food-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}

p,
.un-list {
    font-weight: 300;
    font-family: sans-serif;
    font-size: 17px;
}

h3 /*important text*/ {
    font-family: 'Exo';
}

h2 /*mid heading*/ {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
}

#na-ah {
    flex: initial;
    max-width: 465px;
}

#lets-do-this {
    flex: initial;
    max-width: 500px;
}

#meatloaf {
    flex: initial;
    max-width: 500px;
}

#screen-about1 {
    flex: initial;
    border: solid 3px black;
    margin-top: 25px;
}